name: Publish DaJet MCP Server for Windows

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
      description:
        description: 'Description'
        required: true
env:
  DOTNET_TARGET: 'net10.0'

jobs:
  publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
      with:
        sparse-checkout: src
        sparse-checkout-cone-mode: false

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        dotnet-quality: 'ga'

    - name: Create output directories
      run: mkdir ${{github.workspace}}/output

    - name: Publish DaJet MCP Server
      working-directory: src/dajet-mcp-server
      run: dotnet publish -f ${{env.DOTNET_TARGET}} --os win -a x64 -c Release -o ${{github.workspace}}/output

    - name: Prepare artifacts
      working-directory: output
      run: zip -r "${{github.workspace}}/dajet-mcp-server-${{github.event.inputs.version}}-windows.zip" "."

    - name: Upload artifacts
      uses: softprops/action-gh-release@v2
      with:
        name: 'DaJet MCP Server ${{github.event.inputs.version}}'
        tag_name: 'dajet-mcp-server-${{github.event.inputs.version}}'
        body: ${{github.event.inputs.description}}
        files: ${{github.workspace}}/dajet-mcp-server-${{github.event.inputs.version}}-windows.zip
        draft: false
        prerelease: false
        make_latest: true
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
