name: Deploy to Docker Hub (Linux)

on:
  workflow_dispatch:

env:
  DOTNET_TARGET: 'net10.0'
  
jobs:
  publish:
    name: Build and Publish
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          sparse-checkout: src
          sparse-checkout-cone-mode: false

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          dotnet-quality: 'ga'

      - name: Create publish directory
        run: mkdir ${{github.workspace}}/output

      - name: Configure appsettings.json
        uses: microsoft/variable-substitution@v1
        with:
          files: 'src/dajet-mcp-server/appsettings.json'
        env:
          urls: 'http://0.0.0.0:3000'

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
          
      - name: Publish container image
        working-directory: src/dajet-mcp-server
        run: |
          dotnet publish --os linux --arch x64 -c Release -o ${{github.workspace}}/output \
            -t:PublishContainer \
            -p:ContainerBaseImage=mcr.microsoft.com/dotnet/aspnet:10.0 \
            -p:ContainerRegistry=docker.io \
            -p:ContainerRepository=zhichkin/dajet-mcp-server
